.about-block {
    padding: 90px;
}
.about-block-title,
.about-block-description {
    font-size: 24px;
    opacity: 0;
}
.about-text-content {
    opacity: 0;
}
.about-text-content p {
    margin-top: 30px;
}

.about-block-title.animate,
.about-block-description.animate,
.about-text-content.animate {
    animation: lookAbout 1s ease forwards;
    animation-delay: 0.5s;
}

@keyframes lookAbout {
    100% {
        opacity: 1;
    }
}

/* Адаптируем под разрешение от 1024 до 1400px */
@media (max-width: 1400px) {
    .about-block {
        padding: 30px 60px;
    }
}
/* Адаптируем под разрешение от 768 до 1024px */
@media (max-width: 1024px) {
    .about-block {
        padding: 20px 20px 40px 20px;
    }
}

/* Адаптируем под разрешение от 425 до 768px */
@media (max-width: 768px) {
    .about-block {
        padding: 20px 0;
    }
}